{% extends "base.html" %}
{% block title %}Library Loan System - Contact Us{% endblock %}

{% block content %}
<h1 class="display-4">Contact Us</h1>
<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#DIT">DIT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#DSF">DSF</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#DCS">DCS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#DBFT">DBFT</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#CIP">CIP</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container-fluid active" id="DIT">
    <br>
    <h2>IT1166 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dr. Faris Foo</td>
          <td>Module Leader</td>
          <td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Dr. Vincent Mack</td>
          <td>Module Tutor</td>
          <td><a href="mailto:vincent_mack@nyp.edu.sg">vincent_mack@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Koh Wing Onn</td>
          <td>Module Tutor</td>
          <td><a href="mailto:koh_wing_onn@myaccount.nyp.edu.sg">koh_wing_onn@myaccount.nyp.edu.sg</a></td>
        </tr>
    <tr>
          <td>Mr. Loh Chao Hong</td>
          <td>Module Tutor</td>
          <td><a href="mailto:loh_chao_hong@nyp.edu.sg">loh_chao_hong@nyp.edu.sg</a></td>
        </tr>
      </tbody>
 </table>
  </div>
  <div class="tab-pane container-fluid" id="DSF">
    <br>
    <h2>IT1566 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <td>Dr. Faris Foo</td>
          <td>Module Leader</td>
          <td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Lee Keat Kean</td>
          <td>Module Tutor</td>
          <td><a href="mailto:lee_keat_kean@nyp.edu.sg">lee_keat_kean@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Tan Sew Lan</td>
          <td>Module Tutor</td>
          <td><a href="mailto:tan_sew_lan@myaccount.nyp.edu.sg">tan_sew_lan@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Sng Yong Meng</td>
          <td>Module Tutor</td>
          <td><a href="mailto:sng_yong_meng@myaccount.nyp.edu.sg">sng_yong_meng@myaccount.nyp.edu.sg</a></td>
        </tr>
       </tbody>
</table>
</div>
    <div class="tab-pane container-fluid" id="DCS">
    <br>
    <h2>IT1666 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <td>Dr. Faris Foo</td>
          <td>Module Leader</td>
          <td><a href="mailto:faris_foo@nyp.edu.sg">faris_foo@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Tan Sew Lan</td>
          <td>Module Tutor</td>
          <td><a href="mailto:tan_sew_lan@myaccount.nyp.edu.sg">tan_sew_lan@myaccount.nyp.edu.sg</a></td>
        </tr>
       </tbody>
</table>
</div>
<div class="tab-pane container-fluid" id="DBFT">
    <br>
    <h2>IT1866 App Development Project</h2>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mr. Bobby Liu</td>
          <td>Module Leader</td>
          <td><a href="mailto:liu_jianrong@nyp.edu.sg">liu_jianrong@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Lee Keat Kean</td>
          <td>Module Tutor</td>
          <td><a href="mailto:lee_keat_kean@nyp.edu.sg">lee_keat_kean@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Ariel Abuel</td>
          <td>Module Tutor</td>
          <td><a href="mailto:ariel_abuel@nyp.edu.sg">ariel_abuel@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Sng Yong Meng</td>
          <td>Module Tutor</td>
          <td><a href="mailto:sng_yong_meng@myaccount.nyp.edu.sg">sng_yong_meng@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Joey Zhang</td>
          <td>Module Tutor</td>
          <td><a href="mailto:joey_zhang@nyp.edu.sg">joey_zhang@nyp.edu.sg</a></td>
        </tr>
        </tbody>
    </table>
</div>
    <div class="tab-pane container-fluid" id="CIP">
    <br>
    <h2>IT1966 App Development Project</h2>
    <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <td>Mr. Bobby Liu</td>
          <td>Module Leader</td>
          <td><a href="mailto:liu_jianrong@nyp.edu.sg">liu_jianrong@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Dr. Vincent Mack</td>
          <td>Module Tutor</td>
          <td><a href="mailto:vincent_mack@nyp.edu.sg">vincent_mack@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Woon Tong Wing</td>
          <td>Module Tutor</td>
          <td><a href="mailto:woon_tong_wing@nyp.edu.sg">woon_tong_wing@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Choy Wai Leong</td>
          <td>Module Tutor</td>
          <td><a href="mailto:choy_wai_leong@myaccount.nyp.edu.sg">choy_wai_leong@myaccount.nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Ms. Verawaty</td>
          <td>Module Tutor</td>
          <td><a href="mailto:verawaty@nyp.edu.sg">verawaty@nyp.edu.sg</a></td>
        </tr>
        <tr>
          <td>Mr. Ong Eng Chuan</td>
          <td>Module Tutor</td>
          <td><a href="mailto:ong_eng_chuan@nyp.edu.sg">ong_eng_chuan@nyp.edu.sg</a></td>
        </tr>
       </tbody>
</table>
</div>
</div>
{% endblock %}
